<footer>
    {{!-- <p> Created by Khomesh - Copyright {{currentYear}}</p> --}}
    <p> Created by Khomesh - Copyright {{getCurrentYear}}</p>
</footer>
{{!-- when we use something in the curly braces that clealry is'nt a partial.
FIrst handlebar looks for the helper with that name and second then it looks for the piece of data with the 'currentYear' name
But in this case it is a helper so it will go to it. --}}