<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Maintenance Page </title>
    </head>
    <body>
        <h1>We'll be right back </h1>
        <p>The site is currently under maintenace</p>
        {{!-- <p>Current Date: {{getCurrentYear}}</p> --}}
    </body>
</html>