<!--This template is for the 'projects' page and can also be used to configure it-->
{{!-- the configuration page for the 'projects' link in our website  --}}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Some Website conatining the Project's page </title>
    </head>
    <body>
        {{> header}}
        
        <p>The text of ours new project's page will go there </p>
        
        {{> footer}}
    </body>
</html>